@tailwind base;
@tailwind components;
@tailwind utilities;

/* THEMES */
:root {
  --primary: 244 241 234;
  --secondary1: 67 43 14;
  --secondary2: 67 43 14;
  --secondary3: 67 43 14;
  --accent500: 223 68 68;
  --accent600: 205 57 57;
}

@media (prefers-scheme: dark) {
  :root {
    --foreground: 255 255 255;
    --background-start: 0 0 0;
    --background-end: 0 0 0;
  }
}

[data-theme='beige'] {
  --primary: 244 241 234;
  --secondary1: 67 43 14;
  --secondary2: 67 43 14;
  --secondary3: 67 43 14;
  --accent500: 223 68 68;
  --accent600: 205 57 57;
}

[data-theme='brown'] {
  --primary: 56 42 35;
  --secondary1: 244 241 234;
  --secondary2: 244 241 234;
  --secondary3: 244 241 234;
  --accent500: 229 160 173;
  --accent600: 251 171 185;
}

[data-theme='navy'] {
  --primary: 36 52 84;
  --secondary1: 135 167 228;
  --secondary2: 135 167 2287;
  --secondary3: 135 167 228;
  --accent500: 255 255 255;
  --accent600: 229 233 249;
}

[data-theme='white'] {
  --primary: 250 248 248;
  --secondary1: 4 9 4;
  --secondary2: 4 9 4;
  --secondary3: 4 9 4;
  --accent500: 230 0 0;
  --accent600: 209 11 11;
}

[data-theme='lightgreen'] {
  --primary: 208 216 204;
  --secondary1: 55 70 48;
  --secondary2: 55 70 48;
  --secondary3: 55 70 48;
  --accent500: 203 86 75;
  --accent600: 192 70 58;
}

/* FONT IMPORTS */
@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/AcuminPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/AcuminPro-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/AcuminPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Acumin Pro';
  font-style: italic;
  font-weight: 400;
  src: url("../public/fonts/AcuminPro-Italic.otf") format("opentype");
}

@font-face {
  font-family: 'Meno Banner Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/MenoBannerExtraCondensed-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Meno Banner Extra Condensed';
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/MenoBannerExtraCondensed-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Meno Banner Extra Condensed';
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/MenoBannerExtraCondensed-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Meno Banner Extra Condensed';
  font-style: italic;
  font-weight: 400;
  src: url("../public/fonts/MenoBannerExtraCondensed-Italic.otf") format("opentype");
}

/* GENERAL STYLES */
html, body {
  @apply bg-primary transition duration-200 scroll-smooth;
}

h1, h2, h3, h4, p, span {
  @apply font-sans text-secondary1 transition duration-200;
}

#left {
  gap: 30px;
}

.sweIndex {
  @apply z-[1] bg-primary;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* TEXT SELECTION */
::-moz-selection {
  @apply text-primary bg-accent-500;
}

::selection {
  @apply text-primary bg-accent-500;
}

::-webkit-scrollbar {
  width: 10px;
}

/* SCROLL BAR */
::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary1;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-600;
}


/* CURSOR STYLING */
.cursorMcgill {
  cursor: url("../public/images/mcgillCursor.png"), default;
}

/* ETC */
.sideBarLink {
  @apply text-secondary1 text-[18px] border-b-[1px] border-secondary2 pt-1 transition-colors hover:text-accent-500 hover:cursor-pointer hover:border-b-accent-500;
  line-height: 130%; /* 31.2px */
  width: 100%;
}

#header {
  height: calc(100vh - 40px);
}

.headerText {
  display: inline;
}

.h1Header {
  @apply text-secondary1 text-[48px] sm:text-[54px] tracking-[-0.07em] transition duration-200;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 75.6px */
  overflow-wrap: normal;
}

.h1Header2 {
  @apply font-serif;
  font-style: italic;
}

#about, #experience, #education, #skills, #projects {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

div.sectionHeader {
  @apply border-solid border-b-secondary1 border-b-[1px] transition duration-200;
  width: 100%;
}

h2.sectionHeader {
  @apply text-secondary1 font-serif transition duration-200 text-wrap;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%; /* 27.3px */
  text-transform: uppercase;
}

.sectionSubheader {
  @apply text-secondary1 font-sans text-[30px] uppercase transition duration-200;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 31.5px */
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.500 {
  font-weight: 500;
}

.coursework {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.educationArtsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.tableHeader {
  @apply text-secondary1 border-b-[1px] border-secondary1 transition duration-200;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
}

div.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
}

p.table, span.table {
  @apply normal-case border-b-[1px] border-solid border-secondary3 transition duration-200;
  width: 100%;
}

.scrollToTop {
  @apply top-[16px] right-[16px] text-primary flex flex-row gap-x-3;
  writing-mode: vertical-lr;
  align-items: center;
}

@layer utilities {
  .screenMinus54 {
    height: calc(100vh - 54px);
  }
}

@media only screen and (max-width: 640px) {
  .sweIndex {
    @apply flex flex-col;
  }

  .sideBarLink {
    @apply px-[40px] pt-[15px] pb-[5px] text-[30px];
  }
}