@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/bfo0ccc.css");

:root {
  --primary: rgb(244, 241, 234);
  --secondary1: rgb(67, 43, 14);
  --secondary2: rgb(67, 43, 14 / 0.7);
  --secondary3: rgb(67, 43, 14 / 0.3);
  --accent: rgb(223, 68, 68);
}

@media (prefers-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme='beige'] {
  --primary: rgb(244, 241, 234);
  --secondary1: rgb(67, 43, 14);
  --secondary2: rgb(67, 43, 14 / 0.7);
  --secondary3: rgb(67, 43, 14 / 0.3);
  --accent: rgb(223, 68, 68);
}

[data-theme='brown'] {
  --primary: rgb(56, 42, 35);
  --secondary1: rgb(244, 241, 234);
  --secondary2: rgb(244, 241, 234 / 0.7);
  --secondary3: rgb(244, 241, 234 / 0.3);
  --accent: rgb(229, 160, 173);
}

[data-theme='navy'] {
  --primary: rgb(36, 52, 84);
  --secondary1: rgb(135, 167, 228);
  --secondary2: rgb(135, 167, 228 / 0.7);
  --secondary3: rgb(135, 167, 228);
  --accent: rgb(255, 255, 255);
}

[data-theme='white'] {
  --primary: rgb(208, 216, 204 / 1);
  --secondary1: rgb(55, 70, 48 / 1);
  --secondary2: rgb(55, 70, 48 / 0.7);
  --secondary3: rgb(55, 70, 48 / 0.3);
  --accent: rgb(255, 255, 255 / 1);
}

[data-theme='lightgreen'] {
  --primary: rgb(36, 52, 84 / 1);
  --secondary1: rgb(135, 167, 228) / 1;
  --secondary2: rgb(135, 167, 228) / 0.7;
  --secondary3: rgb(135, 167, 228) / 0.3;
  --accent: rgb(255, 255, 255 / 1);
}

html, body {
  @apply bg-primary;
}

h1, h2, h3, h4, p, span {
  @apply font-sans text-secondary1;
}

#left {
  position: sticky;
  top: 0px;
  padding: 40px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  height: 100vh;
}

#right {
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 40px;
}

.sweIndex {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.sideBarLink {
  @apply text-secondary1 text-[18px] border-b-[1px] border-secondary2 pt-1;
  line-height: 130%; /* 31.2px */
  width: 100%;
}



#header {
  height: calc(100vh - 40px);
}

.headerText {
  display: inline;
}

.h1Header, .h1Header2 {
  color: #432B0E;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 75.6px */
  overflow-wrap: normal;

}

.h1Header2 {
  @apply font-serif;
  font-style: italic;
}

#education, #skills, #projects {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

div.sectionHeader {
  @apply border-solid border-b-secondary1 border-b-[1px];
  width: 100%;
}

h2.sectionHeader {
  @apply text-secondary1 font-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%; /* 27.3px */
  text-transform: uppercase;
}

.sectionSubheader {
  @apply text-secondary1 font-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 31.5px */
  text-transform: uppercase;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.500 {
  font-weight: 500;
}

.coursework, .activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.educationComputerScienceColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.educationArtsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.educationSociologySection, .educationCognitiveScienceSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
}

.tableHeader {
  @apply text-secondary1 border-y-[1] border-secondary3;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
}

div.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
}

p.table, span.table {
  @apply border-b-[1px] border-solid border-secondary3;
  width: 100%;
}

span.table span.uppercase {
  text-transform: uppercase;
}

.three333333Columns {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.child33Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}